/* CellLabel */
.cellLabel{
    height: 64px;
    background: red;
   transition: width 2s, height 2s, transform 2s;
}


.cellLabel:hover{
    width: 200px;
    height: 200px;
    transform: rotate(8deg);
}

.robotLogo:hover{
    width: 200px;
    height: 200px;
    transform: rotate(18deg);
}
/* 二层颜色区别Badge组件 */
#BadgeCss{
    font-size:'16px' !important
}

Badge.text{
    font-size:'16px' 

}
/* 二层Cell的下拉菜单 */
.buttonGroup{
  box-shadow: 10px 10px 5px rgba(0,0,0,.3)   !important
}
.buttonGroup .dropdownCell{
  /* border-radius:25px  0px 0px 25px   !important ; */
    border-radius:180px  0px 0px 0px   !important ;
    text-shadow: 2px 2px 2px rgba(0,0,0,.3)  !important ;
}
/* 二层顶层label */
stepDescription{
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}


