body {
  /* width:1080px;
  height: 1080px; */
  margin: 0;
  padding: 0;
  /* font-family:'Arial' !important; */
  /* background-color:'#404a59' !important; */
  /* background-repeat: no-repeat; */
}